@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  /* --background: #ffffff; 
}

@media (prefers-color-scheme: dark) {
  :root {
    /* --foreground: #ededed; 
  }
} */

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  

  :root  {
    --background: 228 100% 95%;
    --foreground: 228 5% 8%;
    --card: 228 50% 90%;
    --card-foreground: 228 5% 10%;
    --popover: 228 100% 95%;
    --popover-foreground: 228 100% 8%;
    --primary: 228 60% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 190 30% 85%;
    --muted-foreground: 228 5% 35%;
    --accent: 190 30% 80%;
    --accent-foreground: 228 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 228 5% 90%;
    --border: 228 30% 50%;
    --input: 228 30% 18%;
    --ring: 228 60% 49%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 228 50% 8%;
    --foreground: 228 5% 90%;
    --card: 228 50% 8%;
    --card-foreground: 228 5% 90%;
    --popover: 228 50% 5%;
    --popover-foreground: 228 5% 90%;
    --primary: 228 60% 49%;
    --primary-foreground: 0 0% 100%;
    --secondary: 228 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 190 30% 15%;
    --muted-foreground: 228 5% 60%;
    --accent: 190 30% 15%;
    --accent-foreground: 228 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 228 5% 90%;
    --border: 228 30% 18%;
    --input: 228 30% 18%;
    --ring: 228 60% 49%;
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
